%div{'ng-controller' => 'GridCnt'}
  %table.table
    %thead
      %tr
        %th Name
    %tr{'ng-repeat'=> 'item in items' }
      %td
        %a(href="/roadmaps/{{item.id}}") {{ item.name }}
    %tr(ng-show = "items.length == 0")
      %td
        %b Nothing...
  %form.form-search(ng-controller="NewRoadmapCnt" ng-submit="submit()")
    .form-row
      %input(type="text" placeholder="Roadmap Name" ng-model="item.name")
      %button.btn Create
