- @ng_app = 'ngView'
:coffeescript
  window.ngView = angular.module 'ngView', [], ($routeProvider, $locationProvider)->
    $routeProvider.when '/clients/',
      template: #{render(partial: 'grid').to_json}

    $routeProvider.when '/clients/:id/edit',
      template: "#{j(render(partial: 'form'))}"

    $routeProvider.when '/clients/new',
      template: "#{j(render(partial: 'form'))}"

    $routeProvider.when '/clients/:id',
      template: #{render(partial: 'client').to_json}

    $locationProvider.html5Mode(true)

%div{'ng-controller'=>'MainCntl'}
  %div{'ng-view'=>''}
