%div{'ng-controller' => 'ShowCnt'}
  %ul.breadcrumb
    %li
      %a(href="/clients")Clients
      %span.divider /
    %li.active {{item.name}}

  %h1
    {{ item.name }}
    %small
      %a.btn(href="/clients/{{item.id}}/edit") edit

  %p {{ item.email }}
  %p {{ item.summary }}
