.clnd.row{'ng-controller' => 'CalendarCnt'}
  .span3
    %h2 {{currentResource.name}}
    %h3 Selected Hour {{selectedHour}}
  .span9
    .cl.ttcl>
      .ttl Time
      .tt(ng-repeat="span in timespans")
        {{span}}:00
    .cl(ng-repeat="resource in resources")>
      .ttl {{resource.name}}
      .ts(ng-click="pick($event, resource)")>
        .event(draggable ng-repeat="event in resource.events" ng-style="eventPosition(event)")
          {{event.name}}
          %a(ng-click="setCurrentEvent(event, $event)") edit
  #event-form(ng-show="currentEvent")
    %h1
      {{currentResource.name}}
      %a(ng-click="closeEvent()") X
    %p {{currentEvent | json}}

