%div(ng-controller="ResourcesCnt")
  .row
    .span3
      %div{"ng-model" => "date", "ui-date" => ""}
      %h3 Resources
      %ul.nav
        %li(ng-repeat="res in resources | filter:resourceSearch")
          %input(type="checkbox")
          {{res.name}}
    .span9
      .row
        .span4
          %a.btn(ng-click="prevDay()") <
          %a.btn(ng-click="nextDay()") >
          %b {{date | date}}
        .btn-group.pull-right
          %a.btn(href=monthly_resources_path) Month
          %a.btn(href=weekly_resources_path) Week
          %a.btn Day
      %hr
      .colendar
        %b &nbsp;
        %table.table.table-bordered.table-condenced
          %tr.slot
            %th &nbsp;
            %td(ng-repeat="res in resources") {{res.name}}
          %tr.slot(ng-repeat="slot in slots")
            %td {{slot}}
            %td(ng-repeat="res in resources")
      .col(ng-repeat="res in resources")<
        %b {{res.name}}
        .event(ng-repeat="event in res.events" ng-style="position(event)" ng-click="onSlot(res, event)")
          {{event.service}} {{event.name}} {{event.phone}}&nbsp;

  .modal(ng-show="currentSlot")
    .modal-header
      %button.close(ng-click="currentSlot=null") &times;
      %h3 {{currentSlot.resource.name}}
    .modal-body
      %form.form-horizontal
        .control-group
          %label.control-label Time
          .controls
            %select(ng-model="currentSlot.time" ng-options="value for value in slots")
        .control-group
          %label.control-label Service
          .controls
            %input(ng-model="currentSlot.service" type="text")
        .control-group
          %label.control-label Duration
          .controls
            %input(ng-model="currentSlot.duration" type="number")
        .control-group
          %label.control-label Phone
          .controls
            %input(ng-model="currentSlot.phone" type="text")
        .control-group
          %label.control-label Name
          .controls
            %input(ng-model="currentSlot.name" type="text")
        .control-group
          %label.control-label Email
          .controls
            %input(ng-model="currentSlot.email" type="email")
    .modal-footer
      %a.btn(href="#" ng-click="currentSlot=null") Close
      %a.btn.btn-primary{:href => "#"} Save changes
